<link rel="stylesheet" href="{{ 'trackbuddy.css' | asset_url }}">

<div id="trackbuddy-app">
  <button id="trackbuddy-button">
    <img src="{{ 'delivery.png' | asset_img_url: '15x' }}" height="15" width="15" loading="lazy">
    <span class="tracking-text">{{ 'tracking.home.trackingText' | t }}</span>
  </button>
  
  <iframe 
    id="trackbuddy-iframe" 
    src="{{ 'https://oaks-finder-maryland-exceptions.trycloudflare.com/packagetrack/app/track' }}" 
    style="border: none; width: 100%; height: 600px;" 
    title="Track Package">
  </iframe>
</div>

<script>
  document.querySelector('#trackbuddy-button').addEventListener('click', function() {
    document.querySelector('#trackbuddy-iframe').style.display = 'block';
  });
</script>

{% schema %}
{
  "name": "TrackBuddy",
  "target": "body",
  "settings": []
}
{% endschema %}
